.blog_content_detail .blog_meta a:hover,
.blog_content_detail .blog_meta a:hover span,
.blog_content_detail .blog_meta li a:hover i,
.blog_meta a:hover,
.blog_meta a:hover i,
.blog_text a:hover,
.blog_title a:hover,
.breadcrumb li a:hover,
.comment-reply:hover,
.doc_dropdown .dropdown-menu li a:hover,
.doc_lan li a:hover,
.doc_lan li a:hover span i,
.doc_list li a:hover,
.footer_link a:hover,
.footer_link_s2 li a:hover,
.footer_menu li a:hover,
.footer_social li a:hover,
.navbar-expand-lg .navbar-nav .dropdown-item.active,
.navbar-expand-lg .navbar-nav .dropdown-item:hover,
.navbar-expand-lg .navbar-nav .dropdown-menu li a.active,
.navbar-expand-lg .navbar-nav .dropdown.show>a,
.navbar-nav li a.active,
.roadmap_wrap .owl-nav i:hover,
.social_icon li a:hover,
.social_single_team li a:hover,
.social_team a:hover,
.tab_nav_s2 li.nav-item a.active,
.tab_nav_s2 li.nav-item a:hover,
.tags li a:hover,
.v_blue .social_icon li a:hover,
.v_blue .social_single_team li a:hover,
.v_blue_light .social_icon li a:hover,
.v_blue_pro .blog_meta a:hover,
.v_blue_pro .blog_meta a:hover i,
.v_blue_pro .blog_text a:hover,
.v_dark .blog_meta a:hover,
.v_dark .blog_meta a:hover i,
.v_dark .blog_text a:hover,
.v_dark .social_icon li a:hover,
.v_dark .social_single_team li a:hover,
.v_light_dark .social_single_team li a:hover,
.v_navy_blue .nav-item a.active,
.v_navy_blue .nav-item a:hover,
.v_royal_blue .social_icon li a:hover,
.vertical_social li a:hover,
.widget-post-content h6 a:hover,
.widget_archive li a:hover,
.widget_category li a:hover,
a:hover,
header a:hover {
    color: hsl(215deg 94% 41%)
}

.box_roadmap .roadmap_inner::after,
.navbar-expand-lg .navbar-nav>li>.nav-link.active::before,
.rd_complete .roadmap_icon,
.roadmap .owl-nav i:hover,
.roadmap_box.current .roadmap_inner,
.single_roadmap.roadmap_done .roadmap_icon,
.tab-link.active,
.tab-link.active:hover,
.tab-link:hover,
.tab_nav_s4 li.nav-item a.active,
.timeline .owl-nav i:hover,
.timeline_box.complete .timeline_circle::before,
.timeline_box.complete::before,
.timeline_box.current .timeline_inner,
.v_light_dark .tab-link.active,
.v_light_dark .tab-link.active:hover,
.v_light_dark .tab-link:hover,
.v_royal_blue .tab-link.active,
.v_royal_blue .tab-link.active:hover,
.v_royal_blue .tab-link:hover {
    background-color: hsl(187deg 82% 53%) 40%,
}

.roadmap_box.current .roadmap_inner::before,
.timeline_box.current .timeline_inner::before {
    border-color: transparent transparent hsl(215deg 94% 41%)
}

.btn-default,
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn.active:not(:disabled):not(.disabled),
.btn:active:not(:disabled):not(.disabled),
.faq_content4 .card-header a::after,
.team_img.gradient_box::before,
.team_pop .progress-bar,
.tk_counter_inner .progress-bar.gradient,
button {
    background-image: linear-gradient(
        50deg,
        hsl(230deg 13% 27%) 0%,
        hsl(7deg 26% 62%) 26%,
        hsl(5deg 33% 68%) 39%,
        hsl(340deg 15% 55%) 50%,
        hsl(306deg 11% 60%) 61%,
        hsl(203deg 19% 66%) 74%,
        hsl(176deg 52% 62%) 100%
      );
}
.dl_lan li a:hover,
.doc_list li a,
.tab_nav_s4 li.nav-item a.active,
.tags li a:hover,
.timeline_box.complete .timeline_circle::before,
.video_wrap::before {
    border-color: hsl(187deg 82% 53%) 40%,
}